.drawingCanvas{
    position: relative;
    top:100px;
    left:500px;
}

.rest{
    position: relative;
    top:-400px;
    left: 800px;
}

.erase{
    position: relative;
    top:-400px;
    left: 670px;
}

.changeSize{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.colorChanger{
    position: relative;
    top: -55px;
    left: 400px;
}